In [118]:
import numpy as np
import pandas as pd

In [120]:
# import the data
hotels = pd.read_csv("hotels.csv")

In [121]:
# create `arrival_date` column from other columns
months = ["January", "February", "March", "April",
          "May", "June", "July", "August", "September", 
          "October", "November", "December"]
hotels["month"] = hotels["arrival_date_month"].replace(months,[1,2,3,4,5,6,7,8,9,10,11,12])
hotels["Arrival date"] = pd.to_datetime(hotels.arrival_date_year*10000 + hotels.month*100 + hotels.arrival_date_day_of_month, 
                                        format = '%Y%m%d')

In [122]:
# drop unused columns
hotels = hotels.drop(columns=['agent', 'company', 'month', 'lead_time',
                              'market_segment', 'distribution_channel',
                              'is_repeated_guest', 'previous_cancellations',
                              'previous_bookings_not_canceled', 'reserved_room_type',
                              'assigned_room_type','deposit_type',
                              'days_in_waiting_list', 'customer_type', 'reservation_status', 
                              'reservation_status_date', 'meal'], )
# Change values to make more readable
hotels["hotel"] = hotels["hotel"].replace(["Resort Hotel", "City Hotel"], ["Resort", "City"])

# change column names
hotels.columns = ['Hotel type', 'Canceled', 'Arrival year',
       'Arrival month', 'Arrival week',
       'Arrival day', 'Weekend nights', 'Week nights', 'Adults', 'Children', 'Babies',
       'Country of origin', 'Booking changes', 'Average daily rate',
       'Required parking spaces', 'Special requests', 'Arrival date']# create daily rate per serson column

In [123]:
# add new columns
hotels["Average daily rate per person"] = hotels["Average daily rate"] / (
        hotels["Adults"] + hotels["Children"])
hotels["Total Nights of Stay"] = hotels["Weekend nights"] + hotels["Week nights"]

In [26]:
# data index for slider (unneneded)

# hotels["arrival_date_index"] = pd.to_numeric(hotels["Arrival date"])/60/60/24/10**9
# start_date = hotels["arrival_date_index"][0]
# hotels["arrival_date_index"] -= start_date
# a = hotels["arrival_date_index"][4000-1]
# a

In [124]:
df = hotels
guests_weekly = df.groupby("Arrival week")["Hotel type"].count() / df["Arrival year"].value_counts().count()
prices_weekly = df.groupby("Arrival week")["Average daily rate per person"].mean()
parking_weekly = df.groupby("Arrival week")["Required parking spaces"].sum() / df["Arrival year"].value_counts().count()/ 7
adults_weekly = df.groupby("Arrival week")["Adults"].sum() / df["Arrival year"].value_counts().count()

data_weekly = pd.merge(guests_weekly, prices_weekly, on="Arrival week")
data_weekly = pd.merge(data_weekly, parking_weekly, on="Arrival week")
data_weekly = pd.merge(data_weekly, adults_weekly, on="Arrival week")
data_weekly = data_weekly.rename(
    columns={"Hotel type": "Reservations"}
).reset_index()
data_weekly.head()

,Arrival week,Reservations,Average daily rate per person,Required parking spaces,Adults
0,1,349.000000,inf,4.142857,671.000000
1,2,406.000000,43.566568,4.142857,675.666667
2,3,439.666667,43.609834,4.857143,709.333333
3,4,495.666667,43.838314,5.476190,833.333333
4,5,462.333333,43.322803,5.904762,769.666667

In [126]:
df = hotels
reservations_weekly = df.groupby("Arrival week")["Hotel type"].count() / df["Arrival year"].value_counts().count()
prices_weekly = df.groupby("Arrival week")["Average daily rate per person"].mean()
parking_weekly = df.groupby("Arrival week")["Required parking spaces"].sum() / df["Arrival year"].value_counts().count()
adults_weekly = df.groupby("Arrival week")["Adults"].sum() / df["Arrival year"].value_counts().count()

canceled_weekly = df.groupby("Arrival week")["Hotel type"].count() / df["Arrival year"].value_counts().count()
children_weekly = df.groupby("Arrival week")['Children'].sum() / df["Arrival year"].value_counts().count()
babies_weekly = df.groupby("Arrival week")['Babies'].sum() / df["Arrival year"].value_counts().count()
changes_weekly = df.groupby("Arrival week")['Booking changes'].sum() / df["Arrival year"].value_counts().count()
special_weekly = df.groupby("Arrival week")['Special requests'].sum() / df["Arrival year"].value_counts().count()


data_weekly = pd.merge(reservations_weekly, prices_weekly, on="Arrival week")
data_weekly = pd.merge(data_weekly, parking_weekly, on="Arrival week")
data_weekly = pd.merge(data_weekly, adults_weekly, on="Arrival week")
data_weekly = pd.merge(data_weekly, canceled_weekly, on="Arrival week")
data_weekly = pd.merge(data_weekly, children_weekly, on="Arrival week")
data_weekly = pd.merge(data_weekly, babies_weekly, on="Arrival week")
data_weekly = pd.merge(data_weekly, changes_weekly, on="Arrival week")
data_weekly = pd.merge(data_weekly, special_weekly, on="Arrival week")
data_weekly = data_weekly.rename(
    columns={"Hotel type": "Reservations"}
).reset_index()
df.head()

,Hotel type,Canceled,Arrival year,Arrival month,Arrival week,Arrival day,Weekend nights,Week nights,Adults,Children,Babies,Country of origin,Booking changes,Average daily rate,Required parking spaces,Special requests,Arrival date,Average daily rate per person,Total Nights of Stay
0,Resort,0,2015,July,27,1,0,0,2,0.0,0,PRT,3,0.0,0,0,2015-07-01,0.0,0
1,Resort,0,2015,July,27,1,0,0,2,0.0,0,PRT,4,0.0,0,0,2015-07-01,0.0,0
2,Resort,0,2015,July,27,1,0,1,1,0.0,0,GBR,0,75.0,0,0,2015-07-01,75.0,1
3,Resort,0,2015,July,27,1,0,1,1,0.0,0,GBR,0,75.0,0,0,2015-07-01,75.0,1
4,Resort,0,2015,July,27,1,0,2,2,0.0,0,GBR,0,98.0,0,1,2015-07-01,49.0,2

In [112]:
y_col = "Reservations"
if y_col == "Reservations":
    print(y_col)
    data_weekly = df.groupby("Arrival week")["Hotel type"].count() / df["Arrival year"].value_counts().count()
    data_weekly = pd.DataFrame(data_weekly)
    data_weekly = data_weekly.rename(columns={"Hotel type": "Reservations"}).reset_index()

elif y_col == "Average daily rate per person":
    print(y_col)
    data_weekly = df.groupby("Arrival week")["Average daily rate per person"].mean()
    data_weekly = pd.DataFrame(data_weekly)

elif y_col == "Required parking spaces":
    print(y_col)
    data_weekly = df.groupby("Arrival week")["Required parking spaces"].sum() / df["Arrival year"].value_counts().count()/ 7
    data_weekly = pd.DataFrame(data_weekly)

else:#
    print(y_col)
    data_weekly = df.groupby("Arrival week")["Adults"].sum() / df["Arrival year"].value_counts().count()
    data_weekly = pd.DataFrame(data_weekly)
    
data_weekly.head()

Reservations

   Arrival week  Reservations
0             1    349.000000
1             2    406.000000
2             3    439.666667
3             4    495.666667
4             5    462.333333

In [108]:
data_weekly = df.groupby("Arrival week")["Adults"].sum() / df["Arrival year"].value_counts().count()
data_weekly = pd.DataFrame(data_weekly)
data_weekly.head()

                  Adults
Arrival week
1             671.000000
2             675.666667
3             709.333333
4             833.333333
5             769.666667

In [88]:
guests_weekly = df.groupby("Arrival week")["Hotel type"].count() / df["Arrival year"].value_counts().count()
prices_weekly = df.groupby("Arrival week")["Average daily rate per person"].mean()
parking_weekly = df.groupby("Arrival week")["Required parking spaces"].sum() / df["Arrival year"].value_counts().count()/ 7
adults_weekly = df.groupby("Arrival week")["Adults"].sum() / df["Arrival year"].value_counts().count()

data_weekly = pd.merge(guests_weekly, prices_weekly, on="Arrival week")
data_weekly = pd.merge(data_weekly, parking_weekly, on="Arrival week")
data_weekly = pd.merge(data_weekly, adults_weekly, on="Arrival week")
data_weekly = data_weekly.rename(
    columns={"Hotel type": "Reservations"}
).reset_index()

In [89]:
data_weekly

,Arrival week,Reservations,Average daily rate per person,Required parking spaces,Adults
0,1,349.000000,inf,4.142857,671.000000
1,2,406.000000,43.566568,4.142857,675.666667
2,3,439.666667,43.609834,4.857143,709.333333
3,4,495.666667,43.838314,5.476190,833.333333
4,5,462.333333,43.322803,5.904762,769.666667
5,6,502.666667,40.045851,5.047619,894.666667
6,7,703.000000,inf,6.428571,1325.000000
7,8,738.666667,44.954679,7.142857,1290.000000
8,9,705.666667,inf,5.714286,1280.666667
9,10,716.333333,inf,5.000000,1234.333333
10,11,690.000000,46.742847,6.047619,1202.333333
11,12,694.333333,inf,6.238095,1239.333333
12,13,805.333333,48.747073,7.523810,1518.666667
13,14,754.666667,51.980693,6.714286,1393.000000
14,15,896.333333,51.378448,7.285714,1719.000000
15,16,801.666667,53.489615,6.285714,1510.000000
16,17,935.000000,55.567962,7.666667,1738.333333
17,18,975.333333,inf,7.571429,1820.000000
18,19,800.666667,inf,5.809524,1493.333333
19,20,928.333333,69.165512,6.142857,1642.666667
20,21,951.333333,57.919643,7.476190,1772.000000
21,22,848.666667,62.558878,7.142857,1570.666667
22,23,873.666667,63.938734,6.571429,1630.000000
23,24,832.666667,64.445066,5.904762,1547.000000
24,25,887.666667,inf,6.857143,1594.000000
25,26,797.000000,inf,7.476190,1473.666667
26,27,888.000000,58.159359,7.761905,1739.000000
27,28,951.000000,inf,9.476190,1856.666667
28,29,921.000000,61.372712,9.047619,1842.666667
29,30,1029.000000,61.285360,9.428571,2059.000000
30,31,913.666667,66.409509,10.142857,1842.333333
31,32,1015.000000,inf,10.714286,2045.333333
32,33,1193.333333,65.671886,11.714286,2419.000000
33,34,1013.333333,inf,9.714286,2016.000000
34,35,864.333333,inf,9.476190,1703.333333
35,36,722.333333,54.039680,7.761905,1415.000000
36,37,743.000000,56.574727,5.857143,1416.000000
37,38,887.000000,inf,6.333333,1631.333333
38,39,860.333333,inf,5.523810,1610.666667
39,40,799.000000,59.474018,5.619048,1446.666667
40,41,899.666667,52.214474,6.857143,1682.333333
41,42,918.666667,57.391780,6.761905,1581.666667
42,43,784.000000,48.559760,6.619048,1443.666667
43,44,757.333333,45.850921,6.809524,1392.666667
44,45,647.000000,47.659626,6.095238,1139.333333
45,46,524.666667,inf,5.238095,910.666667
46,47,561.666667,inf,5.476190,953.000000
47,48,501.333333,inf,4.761905,816.333333
48,49,594.000000,inf,5.809524,1056.333333
49,50,501.666667,45.780011,4.571429,866.666667
50,51,311.000000,39.820071,4.333333,522.000000
51,52,398.333333,38.849772,4.523810,739.000000
52,53,605.333333,inf,6.428571,1184.333333